@import url('style.scss');
// MIXINS
@mixin glassBg {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:  1px solid rgba(255,255,255,0.18);
    box-shadow: 0px 8px 32px rgba(0,0,0,0.37);
}


.main{
    width: 100%;
    height: auto;
    // background: $color3;
    background: linear-gradient(to top, rgba(0,0,0,0.8)40%,rgba(0,0,0,0.8)6%), url('../PROJECT/Images/img1.jpg');
    // background-image: url('../PROJECT/Images/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .hero-section{
        width: 100%;
        height: 100vh;
        

        .navbar{
            width: 100%;
            height: 75px;
            padding: 0px 100px ;
            // background: $color2;
            // box-shadow: inset 0px -6px 6px rgba($color: #EFEFEF, $alpha: 0.25);

            .logo{
                width: 120px;
                height: 120px;
                margin-top: 38px;
            }
        }

        .hero-container{
            width: 100%;
            display: grid;
            grid-template-columns: 400px 800px;
            grid-template-rows: 1fr;
            padding: 0px 80px;
            margin-top: 60px;

            .hero-img{
                grid-column: 1/2;
                grid-row: 1/2;
                margin-top: 50px;
            }

            .hero-content{
                grid-column: 2/3;
                grid-row: 1/2;

                display: flex;
                flex-direction: column;
                
                align-items: flex-end;


                .headline{
                    font-family: $font2;
                    font-size: 55px;
                    color: $color7;
                    display: flex;
                    text-align: right;
                    padding: 10px;
                    
                }

                .desc{
                    font-family: $font1;
                    color: $color7;
                    text-align: right;
                    padding: 40px 0px;
                    padding-left: 200px;
                    font-weight: 100;
                    font-style: italic;
                }

                .buttons{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 50px 0px;
                    

                    .signup{
                        width: 200px;
                        height: 60px;
                        padding: 20px 40px;
                        background: none;
                        color: $color7;
                        border: 1px solid $color7;
                        border-radius: 10px;
                        font-family: $font1;
                        font-weight: 800;
                        font-size: 18px;
                        font-weight: bold;
                        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
                        cursor: pointer;

                        &:hover{
                            background-color: $color6;
                            color: $color1;
                        }
                        
                    }

                    .login{
                        width: 200px;
                        height: 60px;
                        padding: 20px 40px;
                        margin-left: 50px;
                        background: $color7;
                        color: $color1;
                        // border: 1px solid $color7;
                        border-radius: 10px;
                        font-family: $font1;
                        font-size: 18px;
                        font-weight: bold;
                        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.25);
                        cursor: pointer;

                        &:hover{
                            background-color: $color3;
                            color: $color7;
                        }
                    }

                }
            }
        }
    }


    .instructions{
        width: 100%;
        height: 100vh;
        padding: 30px 120px;
        

        h1{
            color: $color7;
            font-family: $font1;
            font-size: 50px;
            text-align: center;
            font-weight: 100;
        }

        p{
            color: $color7;
            font-family: $font1;
            font-size: 18px;
            text-align: center;
            font-weight:lighter;
            margin-top: 20px;
            padding: 0 120px;
        }


        .box-container{
            width: 100%;
            height: 400px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            margin-top: 50px;
            padding: 0px 50px;
        


            .ins1{
                grid-column: 1/2;
                grid-row: 1/2;

                width: 300px;
                height: 400px;
                @include glassBg();
                border-radius: 20px;
                box-shadow: inset 3px 3px 3px rgba($color: $color6, $alpha: 0.8);
                padding: 30px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

                .num{
                    width: 50px;
                    height: 50px;
                    background: $color5;
                    color: $color1;
                    font-family: $font2;
                    font-size: 30px;
                    font-weight: lighter;
                    border-radius: 50%;
                    text-align: center;
                    box-shadow: inset 4px 4px 4px rgba($color: #000000, $alpha: 0.25);
                    position: absolute;
                    top: -20px;
                }

                .icon{
                    margin-bottom:30px;
                }

                .content{
                    text-align: center;
                    color: $color7;
                    font-family: $font1;
                    font-size: 16px;
                }
            }
            .ins2{
                grid-column: 2/3;
                grid-row: 1/2;

                width: 300px;
                height: 400px;
                @include glassBg();
                border-radius: 20px;
                box-shadow: inset 3px 3px 3px rgba($color: $color6, $alpha: 0.8);
                padding: 30px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .num{
                    width: 50px;
                    height: 50px;
                    background: $color5;
                    color: $color1;
                    font-family: $font2;
                    font-size: 30px;
                    font-weight: lighter;
                    border-radius: 50%;
                    text-align: center;
                    box-shadow: inset 4px 4px 4px rgba($color: #000000, $alpha: 0.25);
                    position: absolute;
                    top: -20px;
                }

                .icon{
                    margin: -20px 0px 30px 0px;
                }

                .content{
                    text-align: center;
                    color: $color7;
                    font-family: $font1;
                    font-size: 16px;
                }
            }

            .ins3{
                grid-column: 3/4;
                grid-row: 1/2;

                width: 300px;
                height: 400px;
                @include glassBg();
                border-radius: 20px;
                box-shadow: inset 3px 3px 3px rgba($color: $color6, $alpha: 0.8);
                padding: 30px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .num{
                    width: 50px;
                    height: 50px;
                    background: $color5;
                    color: $color1;
                    font-family: $font2;
                    font-size: 30px;
                    font-weight: lighter;
                    border-radius: 50%;
                    text-align: center;
                    box-shadow: inset 4px 4px 4px rgba($color: #000000, $alpha: 0.25);
                    // margin: -150px 0px 0px 0px;
                    position: absolute;
                    top: -20px;
                }

                .icon{
                    margin: -50px 0px 30px 0px;
                }

                .content{
                    text-align: center;
                    color: $color7;
                    font-family: $font1;
                    font-size: 16px;
                }
            }
        }
    }
}